/* stili generali/utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

.container-page {
  width: 100%;
  background: url("../img/bg.png");
}

.float-l {
  float: left;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* end stili generali/utilities ---------------------------*/

/* Stili header --------------------------------------------*/

/* stili logo e slogan */
header {
  width: 1300px;
  margin: 0px auto;
  padding:30px 0px 10px 0px;
}

.container-head{
  padding: 5px;
  background: #fff;
}

.row-head {
  position: relative;
  height: 400px;
  background: url("../img/bg-header.png") no-repeat center center;
  background-size: cover;
}

.logo-slogan{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-slogan > h1 {
  color: #fff;
  text-transform: uppercase;
  width: 100%
}
/* end stili logo e slogan */

/* stili menu */
.container-menu {
  background: #666666;
}

.container-menu {
  text-align: center;
}

.container-menu > ul > li {
  list-style: none;
  display: inline-block;
  padding: 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

/* stili menu */

/* end Stili header ----------------------------------------------*/

/* stili main -------------------------------------------------------*/

main {
  width: 1300px;
  margin: 0 auto;
}

/* Stili generali colonne */

.col:first-child, .col:nth-child(3) {
  width: 25%;
}

.col:nth-child(2) {
  width: 50%;
}

/* end Stili generali colonne */

/* stili contenuti colonna sinistra */
.contain-col-l {
  margin-right: 70px;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}


.contain-col-l > ul > li {
  list-style: none;
  padding: 5px;
  font-size: 18px;
  color: #009900;
  line-height: 1.3;
}

.icon-text > h2 {
  width: 50%;
  font-weight: 500;
  padding-left: 3px;
}

/* end stili contenuti colonna sinistra */

/* Stili colonna centrale  */

.content-col-c{
  background:  #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}

.content-col-c > h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.content-col-c > p {
  padding-top: 30px;
  font-size: 18px;
  line-height: 1.6;
}

/* end Stili colonna centrale  */

/*stili contenuti colonna destra */

.sidebar-content{
  margin: 0 0 40px 70px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}

.sidebar-content > h2 {
  font-weight: 500;
}

.sidebar-content > p {
  padding-top: 30px;
  font-size: 18px;
  line-height: 1.6;
}

/* end stili contenuti colonna destra */

/* stili main -------------------------------------------------------*/


/* stili footer */
footer {
  width: 1300px;
  margin: 0 auto;
}

.container-footer {
  margin-bottom: 20px;
  padding: 0 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);

}

.row-footer > p {
  text-align: center;
  color: #ccc;
  font-size: 20px;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

.row-icon {
  width: 100%
}

.box-icon {
  position: relative;
  height: 135px;
  width: 33.3333%;
}

.box-icon > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter:opacity(25%);
}

/* endstili footer */
